<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">@EchangeDeLivre.Ressources.Resources.JumboTronText</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@EchangeDeLivre.Ressources.Resources.GettingStarted</h2>
        <p>
            @EchangeDeLivre.Ressources.Resources.GettingStartedInfo
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">@EchangeDeLivre.Ressources.Resources.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@EchangeDeLivre.Ressources.Resources.GetMoreLibrary</h2>
        <p>@EchangeDeLivre.Ressources.Resources.GetMoreLibraryInfo</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">@EchangeDeLivre.Ressources.Resources.LearnMore &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@EchangeDeLivre.Ressources.Resources.TitleWebHosting</h2>
        <p>@EchangeDeLivre.Ressources.Resources.WebHostingInfo</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">@EchangeDeLivre.Ressources.Resources.LearnMore &raquo;</a></p>
    </div>
</div>